# 虚拟环境
.venv/
venv/

# python缓存
__pycache__/
*.pyc

# vscode配置
.vscode/
*.log

#系统文件
Thumbs.db
.DS_Store

.env

project_a/uploads/
project_a/chroma_db/
project_a/__pycache__/
project_a/eval_report.json